

<div class="col-sm-6 col-sm-offset-3" id="new-user">
	<h1 class="text-center">Edit Job</h1>
	<%= form_for @job, url: '/jobs' do |f| %>
	<form>
	<fieldset class="form-group">
		<%= f.text_field :job_number, class: "form-control", placeholder: "Job Number", autofocus: true %>
	</fieldset>
	<fieldset class="form-group">
		<%= f.text_field :title, class: "form-control", placeholder: "Job Title" %>
	</fieldset>
	<fieldset class="form-group">
		<%= f.text_area :description, class: "form-control", size:'4x15', placeholder: "Job Description" %>
	</fieldset>
		<%= f.submit "Save", class: "btn pull-right", id: "edit-job-btn" %>
	</form>
	<% end %>
</div>

